{%extends 'base.html'%}

{%block styles%}
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/login/patientLogin.css'%}">
{%endblock%}


{%block body%}

<div class="patient_form w-100 text-capitalize">
  <form action="" class="row d-flex flex-column container " method="post">
    {%csrf_token%}
  <div class="form_container p-2  row col-12">
    <div class=" col-5  mt-1">
    <label for="pn" class="form-label">Patient name</label
    ><input type="text" id="pn" class="form-control" name="name"/>
  </div>
  <div class=" col-5  mt-1">
    <label for="pa" class="form-label">patient age</label
    ><input type="number" id="pa" class="form-control" name="age" />
  </div>
  <div class=" col-5  mt-1">
    <!-- <label for="pg" class="form-label">patient gender</label
    ><input type="text" id="pg" class="form-control" name="gender" /> -->
    <label for="gender">Gender</label>
    <select name="gender" id="gender" class="form-select">
      <option value="" selected>Choose gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class=" col-5  mt-1">
    <label for="padd" class="form-label">patient address(city name)</label
    ><input type="text" id="padd" class="form-control" name="address" />
  </div>
  <div class=" col-5  mt-1 mb-2">
    <!-- <label for="p_disease" class="form-label">disease</label
    ><input type="text" id="p_disease" class="form-control" name="desease" /> -->
    <label for="" class="form-label">Choose your disease</label>
    <input type="text" list="diseases" name="disease" class="form-control" placeholder="Disease">
    <datalist id="diseases">
      {%for doc in doc_obj%}
        <option value="{{doc.doc_spe}}"></option>
      {%endfor%}

    </datalist>
  </div>
  <div class=" col-5  mt-1">
    <label for="pmn" class="form-label">patient mobile number</label
    ><input type="tel" id="pmn" class="form-control"  name="mobile"/>
  </div>
  <div class=" col-5  mt-2">
    <input type="checkbox" id="payment" class="form-check-input" name="payment" />
    <label for="payment" class="form-check-label" >payment</label
    >
  </div>
  <div class="col-5 mt-1"><input type="submit" class="btn btn-primary" value="Generate op"></div>
  </div>
</form></div>
{%endblock%}
