.doc_slots .form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    width: 100vw;
    height: 100vh;
}
.doc_slots .form .left{
    width: 50%;
    height: 100%;
}
.doc_slots .form .left .div{
    width: 100%;

}
.doc_slots .form .left .div .img{
    width: 100%;    
    height: 50%;
    object-fit: cover;
    object-position: top;
    
}
.doc_slots .form .right{
    width: 50%;
    height: 90%;
}

.doc_slots .form .left .dis_list{
    display: flex;
    flex-wrap: wrap;
    
    
    
    
}
.doc_slots .form .left .dis_list .btn{
    margin:1%;
}

.doc_slots .form .right .slots{
    margin-top: 55%;
    display: flex;
    flex-wrap: wrap;
}
.doc_slots .form .right .slots .btn{
    margin:1%;
}