.doctors{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:3rem ;
    margin-top: 5%;
    
}
.doctors .card{
    width:26%;
    height: 70vh;
    
    
}
.doctors .card img{
    width:100%;
    height: 40vh;
    object-fit:fill
}
.doctors .card .card-body{
    
}