main .l_form{
    display: grid;
    height: 100vh;
    place-items: center;

}
main .l_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}